
### REQUIRED ENVIRONMENT VARIABLES ###
# Place these (with your desired values) in your .env file.

# Username and UID/GID of user that will run the container. Root or the owner of the data directory.
#  This is optional.
#  If not set here, they will be set to your username.
# MY_USERNAME=sargam

# Backend URL and ports
BACKEND_URL=http://localhost
BACKEND_PORT=8081

# Frontend URL and ports
FRONTEND_PORT=8080
# relative to run.sh
FRONTEND_DATA_DIR=src/portail_ing/frontend/data
FRONTEND_CONFIG_DIR=src/portail_ing/frontend/config
# source for pygeoapi: one of 'conda', 'pip', or a url to a zip folder,
#   a url will be installed using pip.
PYGEOAPI_SOURCE=https://github.com/Ouranosinc/pygeoapi/archive/refs/heads/master.zip

# Number of gunicorn workers
# Gunicorn suggests Ncpu x 2 + 1
WORKERS=9
# Number of Panel workers and threads:
PANEL_WORKERS=5
PANEL_THREADS=5

# location to find the workspace in the docker image or locally.
WORKSPACE=./workspace
WORKSPACE_DOCKER=/workspace
BUCKET_URL=https://minio.ouranos.ca
BUCKET_NAME=portail-ing/workspace
# s3 Location to find the data.
OBS_PATTERN="s3://https://minio.ouranos.ca/portail-ing/AHCCD_{var}_stations.zarr"
SIM_PATTERN="s3://https://minio.ouranos.ca/portail-ing/portail_ing_{var}_CMIP6_stations_AHCCD_concat.zarr"
OBS_IDF_PATTERN="s3://https://minio.ouranos.ca/portail-ing/IDF3.30.zarr"
OBS_WL_PATTERN="s3://https://minio.ouranos.ca/portail-ing/WL/{station_id}_{var}.nc"
SIM_WL_PATTERN="s3://https://minio.ouranos.ca/portail-ing/SL/{station_id}_{var}.nc"

# NOT RECOMMENDED FOR DEVELOPMENT: use the production cache by setting a credentials file, and setting USE_LOCAL_CACHE to falsy
# An image rebuild is required.
# CREDENTIALS_FILE="../minio_credentials/portail-ing_credentials.json"
USE_LOCAL_CACHE=1